/**/
.path1px {
  height: 10px;
  width: 100px;
}
.headPage {
/*   position: absolute; */
}
.headPage_logo {
/*   float: left; */
}
.headPage_quote {
/*   float: left; */
  margin: 10px;
}
main {
  clear: both;
}




/**/
body {
  background: #85dcb0;
  color: #fefcff;
  font-family: Ubuntu, sans-serif;
  text-align: justify;
}
.headPage {
   background: #C38D9E;
}
